/* 
  Table Of Content
  1. Global Style
  2. Typograph Size
  3. Grid System 
  4. Footer Style
*/

/* ========== Global Style ========== */

@font-face {
  font-family: "Teko-Medium";
  src: url("../fonts/Teko-Medium.woff");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato-Medium, sans-serif;
  transition: background 0.2s, color 0.3s;
  outline: none;
}

:root {
  --white: 255 255 255;
  --black: 0 0 0;
  --primary: 99 102 241;
  --secondary: 14 165 233;
  --primary: 76 175 80;
  --secondary: 0 188 212;
  --main-color: 0 150 136;
}

.light-theme {
  --background: 249 250 251;
  --foreground: 243 244 246;
  --shadow: 75 85 99;
  --text: 31 41 55;
}

.dark-theme {
  --background: 36 37 39;
  --foreground: 30 31 33;
  --shadow: 31 4, 55;
  --text: 229 231 235;
}

body,
html {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(var(--background) / 1);
}

.hidden {
  overflow: hidden !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

button {
  cursor: pointer;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: Lato-Regular, sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(var(--background) / 1);
}

ul,
li {
  list-style: none;
  display: block;
}

img {
  user-select: none;
  display: block;
}

::selection {
  background-color: rgb(var(--secondary) / 0.1);
}

input {
  outline: none;
  border-width: 0;
  border-style: solid;
}

@media screen and (min-width: 320px) {
  * {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  * {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.lazy-load::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-color: rgb(var(--background) / 1);
  background-color: gray;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-delay: 2s;
}

.lazy-load.appear::after {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-delay: 1s;
}

.lazy-load * {
  filter: opacity(0);
  transition-property: filter;
  transition-duration: 0.1s;
  transition-delay: 2s;
}

.lazy-load.appear * {
  filter: opacity(1);
  transition-property: filter;
  transition-duration: 0.1s;
  transition-delay: 2s;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    filter: grayscale(5);
  }
  50% {
    opacity: 0.5;
    filter: grayscale(1);
  }
}

.fade-in {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.8s;
}

.from-top {
  transform: translateY(-25%);
  transition-duration: 0.8s;
  transition-property: transform;
  transition-timing-function: ease-in;
}

.from-right {
  transform: translateX(-25%);
  transition-duration: 0.8s;
  transition-property: transform;
}

.from-bottom {
  transform: translateY(25%);
  transition-duration: 0.8s;
  transition-property: transform;
}

.from-left {
  transform: translateX(25%);
  transition-duration: 0.8s;
  transition-property: transform;
}

.scale-in {
  transform: scale(0.5);
  transition-duration: 0.8s;
  transition-property: transform;
}

.fade-in.appear {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

.from-top.appear,
.from-bottom.appear {
  transform: translateY(0);
  transition-duration: 1s;
  transition-property: transform;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  transition-duration: 1s;
  transition-property: transform;
}

.scale-in.appear {
  transform: scale(1);
  transition-duration: 1s;
  transition-property: transform;
}

.facebook-bg {
  background-color: #3b5998;
}

.twitter-bg {
  background-color: #00aced;
}

.youtube-bg {
  background-color: #bb0000;
}

.linkedin-bg {
  background-color: #007bb6;
}

.instagram-bg {
  background-color: #d6249f;
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.google-bg {
  color: #4285f4 !important;
  background-color: white;
}

.github-bg {
  background-color: black;
  color: white;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

/* ========== Grid System ========== */

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
  position: relative;
  width: 100%;
  float: left;
}

@media screen and (min-width: 320px) {
  .col-sm-1 {
    max-width: 8.333333%;
  }
  .col-sm-2 {
    max-width: 16.666667%;
  }
  .col-sm-3 {
    max-width: 25%;
  }
  .col-sm-4 {
    max-width: 33.333333%;
  }
  .col-sm-5 {
    max-width: 41.666667%;
  }
  .col-sm-6 {
    max-width: 50%;
  }
  .col-sm-7 {
    max-width: 58.333333%;
  }
  .col-sm-8 {
    max-width: 66.666667%;
  }
  .col-sm-9 {
    max-width: 75%;
  }
  .col-sm-10 {
    max-width: 83.333333%;
  }
  .col-sm-11 {
    max-width: 91.666667%;
  }
  .col-sm-12 {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    max-width: 8.333333%;
  }
  .col-md-2 {
    max-width: 16.666667%;
  }
  .col-md-3 {
    max-width: 25%;
  }
  .col-md-4 {
    max-width: 33.333333%;
  }
  .col-md-5 {
    max-width: 41.666667%;
  }
  .col-md-6 {
    max-width: 50%;
  }
  .col-md-7 {
    max-width: 58.333333%;
  }
  .col-md-8 {
    max-width: 66.666667%;
  }
  .col-md-9 {
    max-width: 75%;
  }
  .col-md-10 {
    max-width: 83.333333%;
  }
  .col-md-11 {
    max-width: 91.666667%;
  }
  .col-md-12 {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.333333%;
  }
  .col-lg-2 {
    max-width: 16.666667%;
  }
  .col-lg-3 {
    max-width: 25%;
  }
  .col-lg-4 {
    max-width: 33.333333%;
  }
  .col-lg-5 {
    max-width: 41.666667%;
  }
  .col-lg-6 {
    max-width: 50%;
  }
  .col-lg-7 {
    max-width: 58.333333%;
  }
  .col-lg-8 {
    max-width: 66.666667%;
  }
  .col-lg-9 {
    max-width: 75%;
  }
  .col-lg-10 {
    max-width: 83.333333%;
  }
  .col-lg-11 {
    max-width: 91.666667%;
  }
  .col-lg-12 {
    max-width: 100%;
  }
}
