.content-full {
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profile img {
  height: 1em;
  width: 1em;
  margin-left: 0.25em;
  border-radius: 50%;
}

.sidebar-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgb(var(--main-color));
  transition-property: opacity, visibility, transform;
  transition-duration: 0.6s, 0.2s, 0.3s;
}

.sidebar-area.show {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.6s, 0.2s, 0.3s;
}

.sidebar-area button,
.sidebar-area a {
  color: rgb(var(--white) / 0.75) !important;
  width: 100%;
  border-radius: 0;
  padding: 0.25em 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 0.2em transparent solid;
}

.sidebar-area button.active {
  padding: 0.5em 1em;
  border-left: 0.2em rgb(var(--white) / 1) solid;
  color: rgb(var(--white) / 1) !important;
}

.sidebar-area a button i,
.sidebar-area button i {
  margin-right: 0.25em;
}

.sidebar-area button:hover {
  color: rgb(var(--white) / 1) !important;
}

@media screen and (min-width: 320px) {
  .sidebar-area {
    padding-top: 7rem;
    opacity: 0;
    transform: translateX(-100%);
  }

  .user-name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-area {
    padding-top: 7.5rem;
    opacity: 0;
    transform: translateX(-100%);
  }

  .user-name {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .sidebar-area {
    opacity: 1;
    padding-top: 8rem;
    transform: none;
  }

  .user-name {
    display: flex;
  }
}

.main-app {
  position: relative;
  min-height: max-content;
  height: max-content;
  overflow: hidden !important;
}

@media screen and (min-width: 320px) {
  .main-app {
    max-width: 100%;
    left: 0;
    transform: translateY(5rem);
  }
}

@media screen and (min-width: 768px) {
  .main-app {
    max-width: 100%;
    left: 0;
    transform: translateY(5.5rem);
  }
}

@media screen and (min-width: 992px) {
  .main-app {
    max-width: 75%;
    left: 16.666667%;
    transform: translateY(6rem);
  }
}
