/* ========== Typograph Size ========== */

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

@media screen and (min-width: 320px) {
  .text-sm-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-sm-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-sm-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-sm-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-sm-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .text-sm-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .text-sm-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-sm-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .text-sm-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .text-sm-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .text-sm-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .text-sm-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .text-sm-9xl {
    font-size: 8rem;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .text-md-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-md-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-md-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-md-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-md-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .text-md-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .text-md-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-md-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .text-md-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .text-md-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .text-md-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .text-md-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .text-md-9xl {
    font-size: 8rem;
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .text-lg-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-lg-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-lg-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-lg-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-lg-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .text-lg-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .text-lg-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-lg-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .text-lg-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .text-lg-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .text-lg-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .text-lg-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .text-lg-9xl {
    font-size: 8rem;
    line-height: 1;
  }
}